@media (max-width: 2800px) and (orientation: landscape) {

    .author-list {
        transform: scale(0.95);
        transform-origin: top;
    }
}

@media (max-width: 1200px) and (orientation: portrait) {

    .author-list {
        display: none;
    }
}

@media (max-width: 800px) and (orientation: landscape) {

    .author-list {
        transform: scale(0.95);
        transform-origin: top;
    }
}

@media (max-width: 500px) and (orientation: landscape) {

    .author-list {
        transform: scale(0.90);
        transform-origin: top;
    }
}