.title-lms {
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
    /* border: 2px solid white; */
}


/* .instruction{
    border: 2px solid white;
} */

@media (max-width: 2800px) and (orientation: landscape) {

    .course-list {
        transform: scale(0.95);
        transform-origin: top;
    }
}

@media (max-width: 1200px) and (orientation: portrait) {

    .course-list {
        display: none;
    }
}

@media (max-width: 800px) and (orientation: landscape) {

    .course-list {
        transform: scale(0.95);
        transform-origin: top;
    }
}
