.learning-journey-title {
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin-bottom: 0px;
    /* border: 2px solid white; */
}

.c-list {
    transform: scale(0.95);
    transform-origin: top;
}

@media (max-width: 1200px) and (orientation: landscape) {

    .profile-section,
    .courses-section {
        transform: scale(0.95);
        transform-origin: top;
    }
}

@media (max-width: 1200px) and (orientation: portrait) {

    .profile-section,
    .courses-section {
        display: none;
    }
}

@media (max-width: 800px) and (orientation: landscape) {

    .profile-section,
    .courses-section {
        transform: scale(0.90);
        transform-origin: top;
    }
}

@media (max-width: 500px) and (orientation: landscape) {

    .profile-section,
    .courses-section {
        transform: scale(0.90);
        transform-origin: top;
    }
}