:root {
    --background-color: #363636;
    /* Light mode */
    --text-color: #f5f5f5;
    /* Light text color */
}

body {
    :root {
        --background-color: #363636;
        /* Dark mode */
        --text-color: #f5f5f5;
        /* Dark text color */
    }
}

.rotate-message {
    display: none;
}